.project-title-sphere-container {
    display: flex;
    align-items: center;

}

.overflow-y-auto {
    overflow-y: auto !important;
}

.projects-cards-container {
    margin-left: -40px;
    display: flex;
    max-width: 80%;
    position: absolute;
    top: 75%;
    left: 10%;
    flex-wrap: wrap;
}